<footer>
    <div class="col-md-12">
        <h4 class="my-3">Siga-nos nas redes sociais</h4>
        <div class="mb-3">
            <a href="https://www.instagram.com/your_username" target="_blank" class="text-white">
                <i class="fab fa-instagram fa-2x mx-3"></i>
            </a>
            <a href="https://www.linkedin.com/in/your_username" target="_blank" class="text-white">
                <i class="fab fa-linkedin fa-2x mx-3"></i>
            </a>
            <a href="https://www.youtube.com/channel/your_channel" target="_blank" class="text-white">
                <i class="fab fa-youtube fa-2x mx-3"></i>
            </a>    
        </div>
    </div>
    <p>Copyright &copy;  4CSS 2023 </p>
</footer>