<<<<<<< HEAD

.background {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container{
  position: relative;
  margin-bottom: 5rem;
  background: rgba(179, 28, 28, 0.411);
  border: yellow;
  width: 300px;
  height: 200px;
}
=======
.pokemon-selection-container {
  background-image: url('../../../assets/Pokemon pack1/laboratorio.png');
  background-size: cover;  /* this will make sure the image always covers the whole container */
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;  /* or any other value that suits your needs */
}
>>>>>>> 667c322e825b8a284e044f789f503099c72f31e6
